
__pycache__/tetris.cpython-37.pyc
__pycache__/species.cpython-37.pyc
temp.py
temp.py
__pycache__/scoring.cpython-37.pyc
__pycache__/scoring.cpython-37.pyc
__pycache__/scoring.cpython-38.pyc
*.pyc
algo.log
crash.log
critical points/__pycache__/test.cpython-38.pyc
crash.log
crash.log
